name: Release

on:
  workflow_dispatch:
    inputs:
      release-level:
        description: "Release level or valid semver"
        required: true
        default: "patch"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          # Fetches entire history, so we can analyze commits since last tag
          fetch-depth: 0
      - name: Setup Rust
        shell: sh
        run: |
          curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
      - uses: Swatinem/rust-cache@v2
      - name: Install cargo-release
        run: cargo install cargo-release
      - uses: oleksiyrudenko/gha-git-credentials@v2.1
        with:
          token: '${{ secrets.GITHUB_TOKEN }}'
      - name: Login to registry
        shell: bash
        if: inputs.execute == 'true'
        run: cargo login ${{ secrets.CRATES_IO_TOKEN }}
      - name: Release
        run: cargo release -x -v --no-confirm ${{ inputs.release-level }}